.navbar {
    border: none !important;
    border-radius: 0 !important;
    background-color: #222 !important;
    .navbar-brand {
        color: white !important;
    }
    .navbar-toggle {
        border: none !important;
        margin-top: 9.5px;
        margin-right: 17px;
        .icon-bar {
            background-color: white;
        }
    }
    .navbar-toggle:hover, 
    .navbar-toggle:active, 
    .navbar-toggle:visited, 
    .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-collapse {
        border: none !important;
    }

    ul.nav {
        margin-top: 0 !important;
        margin-bottom: 0 !important;

        li {
            a {
                color: white !important;
                background-color: #444;
                font-weight: 200;
                font-size: 16px;
            }
            a:hover {
                background-color: #555;
            }
        }
    }
}