<div class="container">
    <div class="row" style="margin-top: 30px;">
        <vs-tile xs_size="12" sm_size="6" title="Activities by Country"></vs-tile>
        <vs-tile xs_size="12" sm_size="6" title="Pipeline and profitability by Country"></vs-tile>
        <vs-tile xs_size="12" sm_size="6" title="Activities by Subject and Product"></vs-tile>
        <vs-tile xs_size="12" sm_size="6" title="Pipeline and profitability by Product"></vs-tile>
        <vs-tile xs_size="12" sm_size="6" title="Activities by Client Type"></vs-tile>
        <vs-tile xs_size="12" sm_size="6" title="Pipeline and profitability by Client Type"></vs-tile>
    </div>
</div>