<div class="container">
    <div class="row" style="margin-top: 30px;">
        <vs-tile xs_size="12" sm_size="6" title="Activities by Country" type="getuserorganization"></vs-tile>
        <vs-tile xs_size="12" sm_size="6" title="Pipeline and profitability by Country" type="getuserorganization"></vs-tile>
        <vs-tile xs_size="12" sm_size="6" title="Activities by Subject and Product" type="getuserorganization"></vs-tile>
        <vs-tile xs_size="12" sm_size="6" title="Pipeline and profitability by Product" type="getuserorganization"></vs-tile>
        <vs-tile xs_size="12" sm_size="6" title="Activities by Client Type" type="getuserorganization"></vs-tile>
        <vs-tile xs_size="12" sm_size="6" title="Pipeline and profitability by Client Type" type="getuserorganization"></vs-tile>
    </div>
</div>